body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin: 0px;
}
h2{
  margin: 0px;
}
h3{
  margin: 0px;
}
h4{
  margin: 0px;
}
h5{
  margin: 0px;
}
h6{
  margin: 0px;
}
p{
  margin: 0px;
}
a{
  text-decoration-line: none;
  color: black;
  transition-duration: 500ms;
}
a:hover{
  background-color: dodgerblue;
  border-radius: 5px;
}

ul{
  margin: 0;
  padding: 8px;
}

li{
  list-style: none;
}
.wrapDiv{
  margin: 0 auto;
  min-width: 0px;
  max-width: 80vmax;
}

.dateBox {
  display: flex;

}

.dayplanList{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50vmax;
  box-sizing: border-box;
  width: 100%;
  justify-content: start;
  align-content: center;
  /* padding: 8px; */
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 10px;
}

.dayplanCard{
  font-size: 1.5vmax;
  width: 20%;
}


.dayplanCard:nth-child(2n+1){
  height: 60%;
  
}

.dayplanCard:nth-child(2n){
  height: 40%;
  
}


.date{
  height: 10%;
}

.reviewCard{
  display: flex;
  width: 80%;
  justify-content: left;
  justify-items: left;
  align-items: center;

}

.reivewElement{
  margin-left: 8px;
  margin: 10px;
}

button{
  width: 100px;
  margin-right: 20px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px black;
  transition-duration: 500ms;
  margin: 10px;
}
button:active{
  box-shadow: none;
  position: relative;
  top: 2px;
}

.notiveBox{
  margin-top: 20px;
}


header{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 10vmax;
}

nav{
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 10vmin;
  border: 2px solid black;
  border-radius: 5px;
}

.navATag{
  width: 30%;
  height: 100%;
  font-size: 2vmax;
}

footer{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 5vmax;
}

.mainImgBox{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}